<script setup lang="ts">
import { useCounterStore } from '@/stores'
import { CounterStore } from '@/types'
import Button from '@/components/Button.vue'

const store: CounterStore = useCounterStore()
</script>

<template>
    <h1 class="pa-5 mb-5 text-2xl font-bold">Test</h1>
    <div class="flex items-center gap-3">
        Counter: {{ store.counter }}
        <Button @click="store.counter++">+1</Button>
        <Button @click="store.resetCounter()">Reset</Button>
    </div>
    <div v-show="store.isBig" class="text-sm italic">Stop clicking, please!</div>
</template>
