<script setup lang="ts">
import Button from '@/components/Button.vue'
import { Router, useRouter } from 'vue-router'

const router: Router = useRouter()
</script>

<template>
    <h1 class="mb-5 text-2xl font-bold">Page not found</h1>
    <Button class="text-white" @click="router.back()">Go back</Button>
</template>
